.body_login{
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #F6F6F6;
}
.contenedor_principal_login{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.sub_contenedor_principal_login{
  background-color: #FFFFFF;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  width: 350px;
  padding: 24px;
  border-radius: 15px;
}
.sub_contenedor_header{
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50px;
}
.linkedin{
  font-size: 30px;
  font-weight: 900;
  color: #0a66c2;
}
.icono_linkedin{
  width: 30px;
  height: 30px;
  fill: red;
}
.titulo{
  margin: 0;
  padding-bottom: 4px;
  font-size: 32px;
  color: #707070;
}
.sub_titulo{
  color: #707070;
  margin: 0;
  font-size: 15px;
}
.contenedor_inputs_login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputs_login{
  height: 45px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid #707070;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.advertencia_inicio_sesion{
  font-size: 12px;
  position: absolute;
  top: 65px;
  left: 10px;
}
.boton_iniciar_sesion{
  border-radius: 30px;
  height: 50px;
  width: 100%;
  background-color: #2977c9;
  border: none;
  color: #FFF;
  cursor: pointer;
}
.boton_iniciar_sesion:disabled{
  opacity: .4;
}
.volver_al_registro{
  margin-top: 32px;
  font-size: 18px;
}
.ancla_login{
  text-decoration:none;
}
