body{
  padding: 0px 40px 0 120px;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
}
.contenedor_body{
  display: flex;
  justify-content: space-around;
}
.sub_contenedor_body{
  padding: 0 10%;
}
.contenedor_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 10px;
}
.sub_contenedor_header1{
  display: flex;
  align-items: center;
}
.sub_contenedor_header2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.linkedin{
  font-size: 30px;
  font-weight: 900;
  color: #0a66c2;
}
.icono_linkedin{
  width: 30px;
  height: 30px;
  fill: red;
}
.ancla_header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 1px solid #2977c9;
  color: #2977c9;
  border-radius: 30px;
  height: 40px;
  text-decoration:none;
}
.texto_principal{
  font-size: 58px;
  font-weight: 200;
  margin-top: 15px;
  margin-bottom: 15px;
  color:#8f5849;
}
.contenedor_inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
  width: 100%;
}
.inputs{
  font-size: 18px;
  color: rgba(0,0,0,0.9);
  height: 48px;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 2px;
  background-color: transparent;
  padding: 0 10px;
  outline: none;
}
.politicas_y_condiciones{
  font-weight: 600;
}
.boton_aceptar{
  border-radius: 30px;
  height: 50px;
  width: 100%;
  background-color: #2977c9;
  border: none;
  color: #FFF;
  cursor: pointer;
}
.boton_aceptar:disabled{
  opacity: .4;
}
.separador{
  margin: 10px 0;
  display: flex;
  align-items: center;
  text-align: center;
}
.separador::before{
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / .35);
  flex-grow: 1;
  content:"";
}
.separador::after{
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / .35);
  flex-grow: 1;
  content:"";
}
.ancla_body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #2977c9;
  border-radius: 30px;
  height: 50px;
  text-decoration:none;
  color: rgba(0,0,0,0.8);
}
.imagen_svg{
  width: 700px;
  height: 560px;
}

.mx_10{
  margin-right: 10px;
  margin-left:10px;
}
.pr_45{
  padding-right:35%;
}
